* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body {
    font-family: 'Bookman Old Style';
    font-size: 18px;
    border: 4px solid white;
    width:100%;
}

header, footer {
    background-color: #e8e8f8;
    font-family: cursive;
    color: darkslateblue;
    font-weight: bold;

    width: 100%;
    min-height: 7em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header {
    border-bottom: 4px solid white;
}
footer{
    border-top: 4px solid white;
}

main {
    width: 100%;
    min-height: 34em;
    display: flex;
    justify-content: space-between;
}

.side-box-1, .side-box-2 {
    background-color: #f0f8ff;
    padding: 15px;
    text-align: left;
    font-size: 18px;
}

.side-box-1 {
    border-right: 4px solid white;
    width:25.5%;
}

.side-box-2 {
    width: 33%;
    min-height:32.8em;
}

.side-box-1 p, .side-box-2 p {
    margin-bottom: 10px;
}

.edge-section {
    width:74.5%;
    display: flex;
    flex-flow: row wrap;
}

.menu-cell {
    width: 100%;
    min-height: 3em;
    background: #f9f8f6;
    text-align: right;
    border-bottom: 4px solid white;
    font-size:19px;
}

.menu-cell nav {
    margin-top: 15px;
}

.menu-cell a {
    color: blueviolet;
    text-decoration: none;
}

.menu-cell a:hover {
    color: darkmagenta;
    text-decoration: underline;
}

.main-cell {
    min-height: 32em;
    width: 67%;
    background: #eaedf7;
    text-align: left;
    padding: 15px;
    border-right: 4px solid white;
}
.main-cell img {
    width: 470px;
    margin: 80px 0 30px 80px;
}

.main-cell span {
    font-style: italic;
}
