* {
    margin: 0;
    padding: 0;
}

body {
    height: 800px;
    font-family: 'Bookman Old Style';
    font-size: 19px;
    width:100%;
}

header, footer {
    display: flex;
    height: 130px;
    background-color: #e8e8f8;
    font-family: cursive;
    color: darkslateblue;
    font-weight: bold;
    border: 4px solid white;

    align-items: center;
    justify-content: space-between;
}

main {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.side-box-1, .side-box-2 {
    background-color: #f0f8ff;
    padding: 15px;
    text-align: left;
    font-size: 18px;
}
.side-box-1 {
    width:32vw;
    border-left: 4px solid white;
    border-right: 4px solid white;
}
.side-box-2 {
    width: 22vw;
    border-left: 4px solid white;
    border-right: 4px solid white;
    flex:1;
}
.side-box-1 p, .side-box-2 p{
    margin-bottom: 10px;
}

.edge-section {
    width: 105vw;
    display: flex;
    flex-flow: row wrap;
    justify-content:space-between;
}

.menu-cell {
    width: 100%;
    height: 50px;
    background: #f9f8f6;
    text-align: right;
    border-right: 4px solid white;
}
.menu-cell nav
{
    margin-top:15px;
}
.menu-cell a {
    color: blueviolet;
    text-decoration: none;
}

.menu-cell a:hover {
    color: darkmagenta;
    text-decoration: underline;
}

.main-cell {
    background: #eaedf7;
    text-align: left;
    padding: 15px;
    width: 46.2vw;
}

.main-cell img {
    width: 470px;
    margin: 80px 0 30px 80px;
}

.main-cell span {
    font-style: italic;
}
