* {
    margin: 0;
    padding: 0;
}
.grid-container {
    height: 800px;
    font-family: 'Bookman Old Style';
    font-size: 19px;
    border: 2px solid white;
    display: grid;
    grid-template-columns: 25.4% 49.6% 25%;
    grid-template-rows: auto;
    grid-template-areas: "header header header" "left-item menu menu" "left-item main-item right-item" "footer footer footer";
}


header, footer {
    height: 130px;
    background-color: #e8e8f8;
    font-family: cursive;
    color: darkslateblue;
    font-weight: bold;
    border: 2px solid white;
}
header {
    grid-area: header;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 0.5fr;
    align-items: center;
}
header h3{
    margin-left:24px;
}

footer {
    grid-area: footer;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

.left-item, .right-item {
    background-color: #f0f8ff;
    padding: 15px;
    text-align: left;
    font-size: 18px;
    border: 2px solid white;
}
.left-item{
    grid-area: left-item;
}
.right-item {
    grid-area: right-item;
}

.left-item ul, .right-item ol{
    padding-left: 10px;
    color: blueviolet;
    margin-top:8px;
}
.right-item ol{
    margin-top:0px;
}

.left-item span, .right-item span {
    color: black;
}

.left-item li, .left-item p, .right-item li, .right-item p {
    margin-bottom: 10px;
}

.menu {
    height: 50px;
    background: #f9f8f6;
    text-align: right;
    grid-area: menu;
    border: 2px solid white;
}

.menu nav{
     margin-top:15px;
}

.menu a {
    color: blueviolet;
    text-decoration: none;
}

.menu a:hover {
    color: darkmagenta;
    text-decoration: underline;
}

.main-item {
    background: #eaedf7;
    text-align: left;
    padding: 15px;
    grid-area: main-item;
    border: 2px solid white;
}

.main-item img {
    width: 470px;
    margin: 80px 0 30px 80px;
}

.main-item span {
    font-style: italic;
}
