* {
    margin: 0;
    padding: 0;
}

body {
    height: 800px;
    font-family: 'Bookman Old Style';
    font-size: 19px;
    border: 2px solid white;
}


header, footer {
    height: 130px;
    background-color: #e8e8f8;
    font-family: cursive;
    color: darkslateblue;
    font-weight: bold;
    border: 2px solid white;
    position:relative;
}
header h1{
    position:absolute;
    top:38px;
}
header h3{
    position:absolute;
    top:49px;
    right:0px;
}

aside {
    background-color: #f0f8ff;
    padding: 15px;
    text-align: left;
    font-size: 18px;
    border: 2px solid white;
    width: 22.7%;
    float:left;
    height:592px;
}
.right-item {
    width:22.3%;
    height:538px;
}


aside p {
        margin-bottom: 10px;
    }

.menu {
    width:74.26%;
    height: 50px;
    background: #f9f8f6;
    text-align: right;
    border: 2px solid white;
    float:left;
}

.menu nav {
    margin-top: 15px;
}

.menu a {
    color: blueviolet;
    text-decoration: none;
}

.menu a:hover {
    color: darkmagenta;
    text-decoration: underline;
}

.main-item {
    width:46.9%;
    background: #eaedf7;
    text-align: left;
    padding: 15px;
    border: 2px solid white;
    float:left;
}

.main-item img {
    width: 470px;
    margin: 80px 0 30px 80px;
}

.main-item span {
    font-style: italic;
}

footer h1 {
    position: absolute;
    top: 38px;
    right: 0px;
}
footer h3 {
    position: absolute;
    top: 49px;
}
footer{
    clear:both;
}